* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-width: 1080px;
    margin: 0 auto;
}

.header {
    background-color: #1a1a1a;
    padding-top: 36px;
    padding-bottom: 200px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
}

.navigation-holder {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.nav-links a {
    text-decoration: none;
    color: #d1d1d1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: 13px;
}